<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>TODO VUEJS</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <html>
  <head>
    <meta charset="utf-8">
    <title>To Do List in Vue.js</title>
   
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <header>
      <h1>To Do List</h1>
    </header>

    <div class="container" id="todo">

     
      <div class="panel">
        <input type="checkbox" id="mark-all" v-bind:checked="areAllChecked" v-on:click="checkAll">
        <input type="text" placeholder="What do you need to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">
        <button v-on:click="clearList">Clear List</button>
      </div>

    
      <ul class="list">
        <li v-for="task in taskList" v-bind:class="{done: task.checked}">
          <input type="checkbox" class="checkbox" v-model="task.checked">
          <label for="checkbox" v-on:click="editTask(task)" v-show="task != activeEdit">{{ task.text }}</label>
          <input type="text" class="text-input" v-model="task.text" @blur="doneEdit(task)" v-show="task == activeEdit" v-on:keyup.enter="doneEdit(task)">
          <button class="delete" v-on:click="removeTask(task)">X</button>
        </li>
      </ul>

     
      

    </div>

    <footer>
      
      <script src="https://vuejs.org/js/vue.min.js"></script>
      <script src="scripts/script.js"></script>
      </script>
</footer>
    
  </body>
</html>
  
  

    <script  src="js/index.js"></script>




</body>

</html>
